/* animation */
@keyframes ani-running-left{
    to{
        transform: scale(1.2) rotateY(90deg) translateZ(-5vw);  
    }
}
@keyframes ani-running-right{
    to{
        transform: scale(1.2) rotateY(90deg) translateZ(5vw);  
    }
}
@keyframes ani-running-front{
    to{
        transform: scale(1.2) translateZ(-5vw);  
    }
}
@keyframes ani-running-back{
    to{
        transform: scale(1.2) translateZ(5vw);  
    }
}
@keyframes ani-running-top{
    to{
        transform: scale(1.2) rotateX(90deg) translateZ(-5vw);  
    }
}
@keyframes ani-running-bottom{
    to{
        transform: scale(1.2) rotateX(90deg) translateZ(5vw);  
    }
}

body{
    height: 500vw;
    font-family: 'Apple SD Gothic Neo', 'Roboto', 'Noto Sans KR', NanumGothic, 'Malgun Gothic', sans-serif;
    -webkit-overflow-scrolling: touch;
    color: #555;
    background: tomato;
    transition: background .5s;
}

.world{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    perspective: 1000px;
}

.stage{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    transform-style: preserve-3d;
}
.house{
    width: 100vw;
    height: 100vh;
    transform: translateZ(-490vw);
    transform-style: preserve-3d;
}

.wall{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255,255,255,0.8);
}
.wall-left{
    width: 1000vw;
    background: #f8f8f8;
    transform: rotateY(90deg) translateZ(-500vw);
}
.wall-right{
    width: 1000vw;
    background: #f8f8f8;
    transform: rotateY(90deg) translateZ(-400vw);
}
.wall-front-a{
    transform: translateZ(300vw);
}
.wall-front-b{
    transform: translateZ(50vw);
}
.wall-front-c{
    transform: translateZ(-200vw);
}
.wall-front-d{
    transform: translateZ(-500vw);
}
.wall-content{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.wall-title{
    font-size: 5rem;
}

.progress-bar-con{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100vw;
    height: 5px;
    background: #555;
}
.progress-bar{
    height: 100%;
    background: turquoise;
}

/* character */
.character{
    position: absolute;
    left: 12%;
    bottom: 5%;
    width: 10vw;
    height: 10vw;
    transform-style: preserve-3d;
}
.character-con{
    position: absolute;
    transform-style: preserve-3d;
    transition: 1s;
}
.character-left{
    position: absolute;
    width: 10vw;
    height: 10vw;
    background: skyblue;
    transform: rotateY(90deg) translateZ(-5vw) ;
}
.character.running .character-left {
    animation: ani-running-left 1s infinite alternate cubic-bezier(0.64, 0.49, 0.73, 1.13);
}

.character-right{
    position: absolute;
    width: 10vw;
    height: 10vw;
    background: pink;
    transform:rotateY(90deg) translateZ(5vw) ;
}
.character.running .character-right{
    animation: ani-running-right 1s infinite alternate cubic-bezier(0.64, 0.49, 0.73, 1.13);
}
.character-front{
    position: absolute;
    width: 10vw;
    height: 10vw;
    background: blue;
    transform: translateZ(-5vw) ;
}
.character.running .character-front{
    animation: ani-running-front 1s infinite alternate cubic-bezier(0.64, 0.49, 0.73, 1.13);
}
.character-back{
    position: absolute;
    width: 10vw;
    height: 10vw;
    background:blueviolet;
    transform: translateZ(5vw) ;
}
.character.running .character-back{
    animation: ani-running-back 1s infinite alternate cubic-bezier(0.64, 0.49, 0.73, 1.13);
}
.character-top{
    position: absolute;
    width: 10vw;
    height: 10vw;
    background:yellow;
    transform: rotateX(90deg) translateZ(-5vw) ;
}
.character.running .character-top{
    animation: ani-running-top 1s infinite alternate cubic-bezier(0.64, 0.49, 0.73, 1.13);
}
.character-bottom{
    position: absolute;
    width: 10vw;
    height: 10vw;
    background:green;
    transform: rotateX(90deg)  translateZ(5vw) ;
}
.character.running .character-bottom{
    animation: ani-running-bottom 1s infinite alternate cubic-bezier(0.64, 0.49, 0.73, 1.13);
}
.character[data-direction='forward'] { transform: rotateY(180deg); transition: all 1s;}
.character[data-direction='backward'] { transform: rotateY(0deg); transition: all 1s;}
.character[data-direction='left'] { transform: rotateY(-90deg); transition: all 1s;}
.character[data-direction='right'] { transform: rotateY(90deg); transition: all 1s;}