.icon_account {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 18px;
  height: 18px;
  display: inline-block; }

.icon_check_circle {
  background-image: url(../img/sprite.png);
  background-position: -18px 0px;
  width: 18px;
  height: 18px;
  display: inline-block; }

.icon_delete {
  background-image: url(../img/sprite.png);
  background-position: 0px -18px;
  width: 18px;
  height: 18px;
  display: inline-block; }
